= link_to 'Generate Sign-in Sheet', new_training_path(:type => @type, :sheet => 'Sign_in', :id => @id)
%br
%br
= link_to "Generate Course Evaluation", new_training_path(:type => @type, :sheet =>'Course Evaluation', :id => @id)
%br
%br
= link_to "Generate TCFT Completion Certificates", new_training_path(:type => @type, :sheet => 'TCFT Completion Certificate', :id => @id)
%br
%br
= link_to "Generate GCFT Completion Certificates", new_training_path(:type => @type, :sheet => 'GCFT Completion Certificate', :id => @id)
%br
%br