= link_to 'Generate Sign-in Sheet', new_form_path(:type => @type, :sheet => 'Sign_in')
%br
%br
= link_to "Generate Course Evaluation", new_form_path(:type => @type, :sheet =>'Course Evaluation')
%br
%br
= link_to "Generate TCFT Completion Certificates", new_form_path(:type => @type, :sheet => 'TCFT Completion Certificate')
%br
%br
= link_to "Generate GCFT Completion Certificates", new_form_path(:type => @type, :sheet => 'GCFT Completion Certificate')
%br
%br