%h1 Training Types
%title Training Types

= link_to 'STC', generate_forms_path(:type => "STC")
%br
%br
= link_to 'NASW', generate_forms_path(:type => "NASW")
%br
%br
= link_to 'CE', generate_forms_path(:type => "CE")
%br

