%h1 Training Table
%title Table

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<table border="3">
<thead>
<tr bgcolor="#d6d6d6">
<th>Training Type</th>
<th>Training Date</th>
<th>Training Location</th>
<th>Trainer</th>
<th>Forms</th>
</tr>
</thead>
<tbody>
<tr bgcolor="#ffccc3">
<td>The Council Facilitator Training</td>
<td>March 10, 2016</td>
<td>San Francisco</td>
<td>Sally Field</td>
<td><a href="forms/new">Generate</a></td>
</tr>
<tr bgcolor="#94dcff">
<td>Girls Circle Facilitator Training</td>
<td>July 18, 2016</td>
<td>Charlotte</td>
<td>Marie Curie</td>
<td><a href="forms/new">Generate</a></td>
</tr>
<tr bgcolor="#b4ffc0">
<td>The Council Facilitator Training</td>
<td>November 30, 2016</td>
<td>Dallas</td>
<td>John Carpenter</td>
<td><a href="forms/new">Generate</a></td>
</tr>
</tbody>
</table>
</div>

</body>